# Flutter/Dart
.dart_tool/
.packages
.pub/
build/

# Generated plugin files
.flutter-plugins
.flutter-plugins-dependencies

# IDE
.idea/
.vscode/

# Android
android/local.properties

# macOS
.DS_Store